

.agent {
  height: 20vh;
  width: 10vh;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.Face {
  width:100%;
  height: 100%;
  background: #da0060;
  border: 2px solid black;
  opacity: 1;
  display: grid;
  grid-template-areas:
      "one two three"
      "four five six"
      "seven eight nine";
  box-sizing: border-box;
}

.pip {
  display: block;
  align-self: center;
  justify-self: center;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: #333;
  border: 1px solid white;
  z-index: 3;
}

.pip.ideology {
  background-color: white;
  border: 1px solid #333;
}

