:root {
  --military-capitalist: #D7263D;     /* vivid red */
  --finance-theocratic:  #FFB400;     /* bright orange (switched as requested) */
  --law-populist:        #931b99;     /* teal green (switched) */
  --media-anarchist:     #3A0CA3;     /* deep violet */
  --culture-utopiansocialist: #FF5F00; /* orange-red */
  --science-technocratic:  #2EC4B6;   /* aqua blue */
  box-sizing: border-box ;
}
body {
  margin: 0;
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
/*   font-variation-settings:
    "BLED" 4,
    "SCAN" 10; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.military, .capitalist {
  background: var(--military-capitalist);
}

.finance, .theocratic {
  background: var(--finance-theocratic);
}

.law, .populist {
  background: var(--law-populist);
}

.media, .anarchist {
  background: var(--media-anarchist);
}

.culture, .utopiansocialist {
  background: var(--culture-utopiansocialist);
}

.science, .technocratic {
  background: var(--science-technocratic);
}

#App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#worldMap {
  
  height: 65vh;
}
#worldMapEditor {
  overflow: scroll;
  height: 85vh;
}
.top, #bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
  height: 5vh;
}
.tile {
  height: 2vw;
  width: 2vw;
  display: inline-block;
  border: 0.1vh solid #2d2c2c;
}
.water {
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}

/* .selected {
  border: 1px solid yellow;
} */

.panels {
  height: 25vh;
  position: relative;
  width: 100%;
  display: flex;
}

#bottom-line {
  height: 5vh;
}

.rigth-panel {
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}
.left-panel {
  width: 60%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: burlywood;
  color: black;
}

.agent-info {
  display: flex;
  flex-direction: row;
/*   align-items: center;
  justify-content: center; */
  width: 100%;
}

.agent-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1vh;
}

.agent-info-name {
  font-size: 4vh;
  font-weight: bolder;
  margin-bottom: 0.6vh;
}
.agent-info-curiosity {
  font-size: 2.5vh;
  margin-top: 1vh;
  font-style: italic;
}

.agent-info-ideology, .agent-info-job {
  font-size: 2.5vh;
  margin: 0.5vh 0;
  font-weight: bold;
}

.agent-info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

/* .agent-image-container {
  width: 20vh;
  height: 20v;
  border-radius: 10%;
  margin-right: 1vw;
} */

.agent-info-img, .agent-image-container {
  width: 25vh;
  height: 25vh;
  
  /* margin-right: 1vh; */
}
.butts {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

